.navi > li > a {
    list-style: none;
    margin: 5px;
    color: #4b575f;
!important;
}
body{
    background-color: #f8f8fb;
}
.navi > li > a:hover {
    text-decoration: underline;
}
.navi > li > a.hov:hover {
    text-decoration: none;
    color: #2e6da4;
    transition: .5s ease-in-out;
}

.navi > li {
    list-style: none;
    float: left;
!important;
}